<div style="text-align:center">
    <h1>
        2 Parte (Backend Java)
    </h1>
    <img src="" alt="" width="130">
</div>

<div class="container">
    <a class="btn btn-info" role="button" routerLink="agregar">Nuevo</a>   
    <a class="btn btn-info" role="button" routerLink="listar" style="margin-left: 10px;">Listar todos los usuarios</a>
    <!-- <a class="btn btn-info" role="button" routerLink="editar" style="margin-left: 10px;">Buscar un usuario</a> -->
</div>

<hr>
<router-outlet></router-outlet>